:root{
color:blue;

}
#gameSquare{
    border-style: solid;
    width:70%;
    height:10rem;
display:block;
margin:auto;
}
#gameSquare>div:nth-child(n){
    border-style: solid;
    display:flex;
    width:auto;
    height:2rem;
    
}
#gameSquare>div:nth-child(n)>div:nth-child(n){
    border-style: solid;
    width:8rem;
    height:4rem;
    
}